/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
*{
    margin: 0px;
    padding: 0px;


}
.header{
    width: 100%;
    background: #999999;
    height: 27px;
}
.header_mid{
    width: 1000px;
    height: 27px;
    line-height: 27px;
    font-family: 楷体;
    font-size: 13px;
    margin: 0px  auto;
}

.header_mid li{
    list-style: none;
    text-decoration: none;
    line-height: 27px;
    float: right;
	list-style-image:url("../img/arrow.jpg");
	width: 70px;;
}
.header_mid a:link, .header_mid a:visited {
	font-size: 13px;
	color: #000;
	text-decoration: none;
}
.header_mid a:hover, .header_mid a:active {
	font-size: 13px;
	color: #FFF;
	text-decoration: none;
}
.main{
    margin: 0 auto;
    width: 1000px;
    background-color: #F5F5F5;
}
.logo{
    height:140px;
    background: #FFFFFF;
    /*border: 1px solid chartreuse;*/
}
.logo_left{
    float: left;
}
.logo_right{
    float: right;
    width:380px;
    height:30px;
    margin-top:92px;
    font-size: 15px;
    color:#555555;
    line-height:30px ;

}
.logo_right img {
	vertical-align: middle;
	margin-right: 10px;
}
.logo_right span{
    color: darkred;
    font-weight: bold;
    font-size: 22px;

}
.nav{
    height: 37px;
    background: url("../img/nav_bg.jpg");
    border-radius: 3px;
}



.nav_left li{
    width: 80px;
    list-style: none;
    float: left;
    line-height: 37px;
    text-align: center;


}
.nav_left{
    float: left;

}
.nav_left a:link , .nav_left a:visited{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;

}
.nav_left a:hover , .nav_left  a:active{
    color: #FF0;
    text-decoration: none;
    font-size: 16px;
    width: 80px;
    display: block;
    background: darkred;
    border-radius: 3px;
}

.nav_right{
    width: 330px;
    float: right;
    height: 37px;
    line-height: 37px;


}
.search_text {
    background: url("../img/search.jpg") no-repeat right center;
    background-color: #FFF;
    height: 27px;
    width: 230px;
     border: 1px  solid  #FFFFFF;
    border-radius: 2px;
}
.banner {
	height: 320px;
	margin-top: 5px;
	overflow: hidden;

}
.conent{
    height: 280px;
    margin-top:10px;
}
.conent_left{
    height: 280px;
    border: 1px solid #999999;
    float: left;
    width: 325px;
}
.conent_mid{
    height: 280px;
    border: 1px  solid #999999;
    float: left;
    width: 325px;
    margin-left: 8px;

}
.conent_right{height: 280px;
    border: 1px  solid #999999;
    float: left;
    width: 325px;
    margin-left: 9px;

}
.title {
	height: 35px;
	border-bottom: 2px solid #E8E8E8;
	font-size: 14px;
	font-family: "微软雅黑";
	line-height: 35px;
	font-weight: bold;
	color: #786F66;
}
.title_left {
	width: 200px;
	float: left;
	padding-left: 20px;
}
.title_right {
	width: 90px;
	float: right;
	text-align: right;


	}

.title_right a {
	color: #999;
	text-decoration: none;
	font-family: "楷体";
	font-size: 10px;
	font-weight: normal;
	padding-right: 10px;
}
.info_list{
    margin:15px 10px;
    font-size: 13px;
    line-height: 25px;

}
.info_list li{
    list-style: none;
    list-style-image: url("../img/arrow.jpg");
    border-bottom: 1px dotted #999999 ;
    margin-left: 15px;


}
.info_list a{
    text-decoration: none;


}


.info_list span{
    float: right;
}
